.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .overlay-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 120px;
  }
  
  /* Hover effect */
  a:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  