@tailwind base;
@tailwind components;
@tailwind utilities;

.glow{
  transition: all 0.3s ease-in-out;
}

.glow:hover{
  box-shadow: 0 0 25px rgb(206, 71, 193);
}

.img_glow{
  box-shadow: 0 0 55px rgb(206, 71, 193);
}

.neno-button{
  transition: all 0.3s ease-in-out;
}

.neno-button:hover{
  box-shadow: 0 0 15px rgb(206, 71, 193);
}

.b_glow{
  box-shadow: 0 0 15px rgb(206, 71, 193);
}

.change:hover{
  background:#d946ef;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.change:hover img{
  visibility: hidden;
}

.change{
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.heading{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.change:hover .p-content{
  visibility: hidden;
}

.h-content{
  visibility: hidden;
}

.change:hover .h-content{
  visibility: visible;
  margin-top: -30px;
  margin-bottom: 20px;
}


